[submodule "embeddings-api"]
	path = embeddings-api
	url = https://github.com/Andr171p/embeddings-api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/DreminIlarion/frontend-project.git
[submodule "auth"]
	path = auth
	url = https://github.com/AndrewMedvedev/auth-service.git
[submodule "events-service"]
	path = events-service
	url = https://github.com/AndrewMedvedev/events.git
